html {
    font-weight: 600;
    font-size: 16px;
    font-family: 'Open Sans', sans-serif;
}

h1 {
    font-size: 60px;
    text-align: center;
    color: #eceef3;
    margin: 0 auto;
}

h4 {
    font-size: 14px;
    text-align: center;
    color: #9e5c00;
    margin: 0 auto;
    vertical-align: top;
    margin-bottom: 2%;
}

body {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: #161b24;
}

canvas {
    margin: 1%;
    border: 4px solid #9e5c00;
}

output {
    color: #eceef3;
    background: #61A3FF;
    padding: 5px 10px;
    border-radius: 24px;
}

output:hover {
    background-color: #1d6ad5;
}

input[type=range] {
    vertical-align: middle;
    background: #161b24;
}

input[type=range]::-moz-range-track {
    height: 10px;
    background: #272d3a;
    border-radius: 24px;
    border: 2px solid #61A3FF;
}

input[type=range]::-moz-range-thumb {
    height: 20px;
    width: 20px;
    background: #61A3FF;
    border-radius: 24px;
    border: 2px solid #61A3FF;
}

input[type=range]::-moz-range-thumb:hover {
    background-color: #1d6ad5;
}

/* CSS */
button {
    appearance: none;
    background-color: #61A3FF;
    border: 2px solid #61A3FF;
    border-radius: 24px;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    line-height: 20px;
    padding: 6px 16px;
    position: relative;
    text-align: center;
    text-decoration: none;
    user-select: none;
    touch-action: manipulation;
    vertical-align: middle;
    white-space: nowrap;
}

button:hover {
    background-color: #1d6ad5;
}